
#portfolio .video_card .container {
    background-color: var(--light-primary-color-10, #FFF);
    margin: 5% 0;
    padding: 3% 0;
    padding-left: 3% 0;
    padding-right: 3% 0;
}

#portfolio .card_table_row {
    margin: 0 !important;
    padding: 10px !important;
}

#portfolio .card_title_text {
    color: #d66a3cc4;
}

#portfolio .collage_card_text {
    color: var(--light-primary-color-70, #997D64);
    text-align: inherit;
    /* Body/Body 1 Regular */
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27.5px */
    letter-spacing: 0.11px;
    text-indent: 25px;
}

#portfolio .video_card .row {
    background-color: var(--light-primary-color-10, #FFF) !important;
    border-radius: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 2%;
}

#portfolio .video_card_text {
    color: var(--light-primary-color-70, #997D64);
    text-align: inherit;
    /* Body/Body 1 Regular */
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 27.5px */
    letter-spacing: 0.11px;
}

#portfolio .video_card_video {
    background-color: var(--light-primary-color-10, #FFF);
    padding: 3% 0;
    padding-left: 3% 0;
    padding-right: 3% 0;
}